/*
Mobile (Smartphone) max-width: 480px. Low Resolution Tablets and ipads max-width: 767px.
Tablets Ipads portrait mode max-width:1024px. Desktops max-width:1280px.
*/
:root {
  /*variables*/
  --black: #000000;
  --dark:#222831;
  --grey: #393e46;
  --orange:#d65a31;
  --white: #eeeeee;
  --green: #32e0c4;
}

input,
textarea,
button,
select,
a, div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div#menu div#close-menu, div.container div#open-menu, a {
  text-decoration: none;
  color: #eeeeee;
  font-size: 1.1em;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body, html {
  background-color: #222831;
  min-height: 100vh;
  height: 100%;
  font-size: 1.1em;
  color: white;
  font-family: IRANSans;
  text-align: justify;
  line-height: 2;
  font-size: 18px;
  direction: rtl;
  word-wrap: anywhere;
  word-break: break-word;
}

a {
  cursor: pointer;
}

div.container {
  padding: 20px;
  border: 1px;
  display: block;
  min-height: 100vh;
  width: 100%;
}
div.container div#open-menu {
  float: right;
  display: block;
  height: 22px;
  width: 22px;
  display: block;
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
}
div.container div#open-menu i {
  font-size: 18px;
  width: 18px;
  height: 18px;
}
div.container > div#header {
  width: 100%;
  border-bottom: 4px #d65a31 solid;
  background-image: linear-gradient(to top, #d65a31, rgba(0, 0, 0, 0) 10%);
}
div.container > div#header h2 {
  float: left;
}

div#menu {
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
  overflow-x: hidden;
  display: block;
  top: 0px;
  background-color: #393e46;
  width: 0%;
  min-height: 100vh;
  height: 100%;
  position: fixed;
}
div#menu div#close-menu {
  position: relative;
  display: block;
  top: 2px;
  right: 4px;
  width: 31px;
  height: 31px;
  text-align: center;
  cursor: pointer;
}

ul#menu-ul {
  white-space: nowrap;
  color: #eeeeee;
  list-style: none;
  text-align: center;
  margin: 0px;
}
ul#menu-ul a {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  display: block;
}
ul#menu-ul a:active {
  background-color: rgba(214, 90, 49, 0.5);
}

ul#menu-ul li {
  overflow: hidden;
  background-color: inherit;
  display: block;
  width: 100%;
  min-height: 35px;
  text-align: center;
  border-bottom: 2px solid #d65a31;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

ul#menu-ul > li.dropdown + div {
  display: none;
}
ul#menu-ul > li.dropdown + div a {
  border-bottom: 2px solid #d65a31;
  min-height: 35px;
  background-color: #474a50;
}
ul#menu-ul > li.dropdown + div a:active {
  background-color: rgba(214, 90, 49, 0.5);
}

div.search-container {
  position: relative;
  margin-top: 30px;
  height: 25px;
  width: 100%;
}
div.search-container input[type=search] {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25px;
  border: 2px #32e0c4 solid;
  border-radius: 0px 4px 4px 0px;
  outline-width: 0;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
div.search-container input:focus {
  outline: 2px #eeeeee solid;
}
div.search-container button#search-btn {
  cursor: pointer;
  position: absolute;
  border: none;
  left: 0;
  bottom: 0;
  height: 25px;
  overflow: hidden;
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 20%;
  background-color: #32e0c4;
  border-radius: 4px 0px 0px 4px;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}
div.search-container button#search-btn i {
  height: 18px;
  width: 18px;
  font-size: 18px;
}
div.search-container input:focus ~ button#search-btn {
  background-color: #2aa08c;
}
div.search-container button#search-btn:active {
  background-color: #2aa08c;
}

div.container > div#header {
  margin-bottom: 20px;
}
div.container > div#header h2 {
  margin: 0;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

div.grid-container div.grid-item {
  padding: 5px;
}

div.card {
  overflow: auto;
  background-color: #393e46;
  cursor: pointer;
}
div.card div.card-header {
  color: #eeeeee;
  background-color: #2aa08c;
  height: 50px;
  width: 100%;
  display: table;
  text-align: center;
  font-size: 0.8em;
}
div.card img.card-profile-pic {
  float: left;
  margin: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px #2aa08c solid;
}
div.card div.card-content {
  padding: 15px;
  font-size: 17px;
}
div.card div.card-footer {
  padding: 5px;
  border-top: 2px #d65a31 solid;
  color: rgba(238, 238, 238, 0.7);
  font-size: 0.6em;
}

div.card:hover {
  outline: 1px #eeeeee solid;
}

div.card:focus {
  background-color: #393e46;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  div#menu a:hover {
    -o-transition: 0s !important;
    -webkit-transition: 0s !important;
    -moz-transition: 0s !important;
    transition: 0s !important;
    border-right: 3px #d65a31 solid;
    border-left: 3px #d65a31 solid;
    /*
    background-image: 
    linear-gradient(to left,$orange 1%,rgba(0,0,0,0) 1%,99%,$orange 99%);
    */
  }
  div#menu a:active {
    -o-transition: 0s !important;
    -webkit-transition: 0s !important;
    -moz-transition: 0s !important;
    transition: 0s !important;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */

/*# sourceMappingURL=mobile.css.map */
