@mixin userselect($property) {
    //user-select: auto|none|text|all;
    -webkit-touch-callout: $property; /* iOS Safari */
    -webkit-user-select: $property; /* Safari */
    -khtml-user-select: $property; /* Konqueror HTML */
    -moz-user-select: $property; /* Old versions of Firefox */
    -ms-user-select: $property; /* Internet Explorer/Edge */
    user-select: $property; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

@mixin transition($property) {
    //transition: property duration timing-function delay|initial|inherit
    -o-transition : $property;
    -webkit-transition: $property;
    -moz-transition: $property;
    transition: $property;
}
@mixin boxshadow($property) {
    //box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;
    -webkit-box-shadow: $property;
    -moz-box-shadow: $property;
    box-shadow: $property;
}
//variables
$black:#000000;
$dark:#222831;
$grey: #393e46;
$light-grey:#474a50;
$orange:#d65a31;
$white:#eeeeee;
$green:#32e0c4;
$dgreen: #2aa08c;

$col1:8.33% ;
$col2:16.66%;
$col3:25%   ;
$col4:33.33%;
$col5:41.66%;
$col6:50%   ;
$col7:58.33%;
$col8:66.66%;
$col9:75%   ;
$col10:83.33%;
$col11:91.66%;
$col12:100%  ;
//end of variables